.right-side-bar
{
    float: right;
    font-size: 13px;
    width: 310px;
    margin: 40px 0px 15px 0px;
    /* border: solid 2px #b0b3b8; */
    /* box-shadow: 2px 1px 0 rgba(255, 255, 255, 0.2); */
}

.widget
{
    margin-top: 10px;
    box-shadow: 3px 3px 10px rgb(0 0 0/ 5%),
    -3px -3px 10px rgb(0 0 0/ 5%);
}

.widget-1
{
    margin-bottom: 3px;
}

#dark .widget-1
{
    border: solid 1px #b0b3b8;
    margin-bottom: 3px;
}

#dark .widget-1 {
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%),
            0 20px 48px rgb(0 0 0/ 5%),
            0 1px 4px rgb(0 0 0/10%);
}

.widget h4
{
    background-color: #90e0ef;
    margin: 0;
    padding: 15px;
    border: solid 1px #4cc9f0;
}

#dark .widget h4 {
    /* background-color: #90e0ef; */
    
    background-color: rgb(22, 24, 28);
    color: #ffffff;
    margin: 0;
    padding: 15px;
    border: solid 1px black;
    border-bottom: solid 1px #b0b3b8;
}

.right-side-bar-div-1
{
    background-color: #caf0f8;
    padding: 15px;
    border: solid 1px #4cc9f0;
}

#dark .right-side-bar-div-1 {
    padding: 15px;
    border: solid 1px black;
    /* background-color: rgb(22, 24, 28); */
    background-color: #22303c;
    color: #ffffff;
}

.right-side-bar-div-1 .right-side-bar-div-2
{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.right-side-bar-div-1 .right-side-bar-div-2 p
{
    padding-left: 10px;
    margin-top: 0;
}

.widget-tags
{
    margin-top: 5px;
    box-shadow: 3px 3px 10px rgb(0 0 0/ 5%),
    -3px -3px 10px rgb(0 0 0/ 5%);
}

.widget-tags h3
{
    margin: 0;
    padding: 12px;
    /* background-color: #C9E9FF; */
    background-color: #90e0ef;
    border: solid 1px #4cc9f0;
}

.widget-tags-div
{
    background-color: #C9E9FF;
}

.widget-tags div
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    /* border: solid 1px #4cc9f0; */
    padding: 4px;
}

.widget-tags-div
{
    border: solid 1px #b0b3b8;
}

.widget-tags div p
{
    padding: 5px;
    background-color: #57A773;
    color: #D5FFD0;
    border-radius: 2px;
    font-size: 12px;
}

#dark .widget-tags h3
{
    background-color: rgb(22, 24, 28);
    color: #ffffff;
    border: solid 1px #b0b3b8;
}

#dark .widget-tags-div
{
    background-color: #22303c;
    color: #ffffff;
    margin: 0;
    /* padding: 15px; */
    border: solid 1px black;
    border: none;
    border-bottom: solid 1px #b0b3b8;
}

#dark .widget-tags
{
    border: solid 1px #b0b3b8;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%),
            0 20px 48px rgb(0 0 0/ 5%),
            0 1px 4px rgb(0 0 0/10%);
}

@media only screen and (max-width: 500px) {
    .right-side-bar {
        width: 100%;
        float: left;
    }
}